<ion-header>

  <ion-navbar>
    <ion-title>Frankling</ion-title>
    <ion-buttons end>
      <img class="svg-chat" src="assets/file.svg" alt="">
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-list no-lines>

    <ion-item *ngFor="let item of messages" class="item-list-msg" [ngClass]="{'active': item.author === 'Frank' }">

      <ion-avatar item-end *ngIf="item.author != 'Frank'">
        <img src="assets/perfil.jpeg">
      </ion-avatar>

      <ion-avatar item-start *ngIf="item.author === 'Frank'">
        <img src="assets/file.svg">
      </ion-avatar>

      <div class="meesage-item">
        {{ item.text }}
      </div>
      <div *ngFor="let item of item.data?.lista">
        <span> {{ item.color }}</span>
      </div>

    </ion-item>


  </ion-list>





</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-10>
        <ion-item no-lines class="input-style">
          <ion-input type="text" placeholder="Message" [(ngModel)]="message" (ionFocus)="scroolBottom(100)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button class="btn-send" color="primary" (click)="sendMessage()" [disabled]="!message">
          <svg class="svg-send" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
            <g>
              <g>
                <path d="M512,255.961c0-0.124-0.009-0.246-0.016-0.368c-0.005-0.098-0.008-0.196-0.018-0.294c-0.003-0.031-0.004-0.062-0.008-0.093c-0.007-0.069-0.018-0.137-0.027-0.206c-0.007-0.051-0.017-0.101-0.025-0.152c-0.003-0.019-0.006-0.037-0.009-0.056c-0.01-0.061-0.013-0.121-0.025-0.182c-0.003-0.016-0.008-0.031-0.011-0.046c-0.007-0.034-0.012-0.069-0.019-0.103c-0.029-0.135-0.067-0.267-0.103-0.4c-0.002-0.01-0.005-0.021-0.007-0.031c-0.011-0.039-0.017-0.08-0.029-0.119c-0.008-0.027-0.015-0.054-0.023-0.081c-0.009-0.03-0.017-0.061-0.027-0.091c-0.031-0.1-0.072-0.196-0.107-0.294c-0.007-0.02-0.015-0.041-0.022-0.061c-0.032-0.088-0.061-0.178-0.096-0.264c-0.01-0.024-0.02-0.048-0.03-0.072c-0.009-0.021-0.02-0.042-0.03-0.063c-0.013-0.029-0.029-0.057-0.042-0.086c-0.007-0.016-0.016-0.031-0.023-0.047c-0.011-0.025-0.024-0.049-0.035-0.073c-0.053-0.111-0.102-0.224-0.16-0.332c-0.009-0.017-0.019-0.033-0.028-0.05c-0.032-0.058-0.07-0.113-0.103-0.17c-0.015-0.026-0.031-0.051-0.046-0.077c-0.029-0.048-0.056-0.096-0.086-0.144c-0.04-0.063-0.076-0.128-0.118-0.19c-0.007-0.01-0.015-0.021-0.022-0.031c-0.034-0.05-0.073-0.097-0.108-0.146c-0.098-0.137-0.196-0.275-0.303-0.404c-0.005-0.007-0.011-0.013-0.017-0.019c-0.053-0.064-0.111-0.122-0.166-0.184c-0.099-0.111-0.195-0.224-0.3-0.328c-0.005-0.005-0.01-0.009-0.014-0.014c-0.051-0.051-0.107-0.098-0.16-0.148c-0.048-0.045-0.098-0.089-0.147-0.133c-0.069-0.062-0.135-0.127-0.206-0.186c-0.006-0.005-0.012-0.01-0.018-0.015c-0.112-0.093-0.232-0.177-0.35-0.263c-0.04-0.029-0.077-0.061-0.118-0.089c-0.015-0.01-0.028-0.022-0.042-0.032c-0.014-0.01-0.027-0.02-0.042-0.029c-0.01-0.007-0.019-0.013-0.028-0.02c-0.118-0.08-0.244-0.15-0.367-0.223c-0.073-0.043-0.142-0.091-0.216-0.131c-0.015-0.008-0.031-0.017-0.046-0.025c-0.051-0.028-0.105-0.051-0.157-0.078c-0.015-0.008-0.028-0.018-0.042-0.025l-497-248.5C8.111-0.579,4.809-0.141,2.517,1.897c-2.292,2.039-3.112,5.268-2.07,8.154l60,166c0.019,0.053,0.045,0.102,0.065,0.154c0.061,0.158,0.127,0.313,0.198,0.466c0.041,0.089,0.084,0.176,0.129,0.263c0.075,0.145,0.154,0.285,0.238,0.424c0.052,0.086,0.102,0.172,0.157,0.256c0.091,0.139,0.189,0.272,0.29,0.405c0.056,0.074,0.109,0.15,0.168,0.223c0.133,0.164,0.276,0.32,0.423,0.472c0.029,0.03,0.053,0.063,0.083,0.092l0.024,0.024c0.003,0.003,0.007,0.007,0.01,0.01l77.163,77.161l-77.164,77.162c-0.003,0.003-0.007,0.007-0.01,0.01l-0.024,0.024c-0.029,0.029-0.054,0.063-0.083,0.092c-0.147,0.152-0.289,0.308-0.423,0.472c-0.059,0.072-0.112,0.148-0.168,0.223c-0.1,0.133-0.198,0.266-0.29,0.405c-0.055,0.084-0.106,0.17-0.157,0.256c-0.083,0.139-0.163,0.28-0.238,0.424c-0.045,0.087-0.087,0.174-0.129,0.263c-0.071,0.153-0.137,0.308-0.198,0.466c-0.02,0.052-0.046,0.101-0.065,0.154l-60,166c-1.042,2.886-0.223,6.114,2.069,8.153c1.405,1.248,3.187,1.896,4.988,1.896c1.14,0,2.288-0.26,3.353-0.792l497-248.5c0.015-0.007,0.028-0.018,0.042-0.025c0.052-0.026,0.105-0.05,0.157-0.078c0.035-0.019,0.068-0.04,0.102-0.059c0.084-0.047,0.166-0.099,0.249-0.15c0.093-0.057,0.189-0.11,0.279-0.171c0.016-0.011,0.031-0.023,0.047-0.034c0.009-0.006,0.017-0.011,0.026-0.017c0.009-0.006,0.017-0.013,0.026-0.019c0.068-0.048,0.133-0.101,0.2-0.15c0.094-0.071,0.192-0.138,0.282-0.212c0.03-0.025,0.057-0.052,0.086-0.077c0.049-0.041,0.095-0.085,0.143-0.128c0.043-0.039,0.087-0.076,0.129-0.115c0.043-0.04,0.088-0.078,0.13-0.119c0.014-0.014,0.028-0.028,0.042-0.042c0.04-0.04,0.076-0.084,0.115-0.125c0.109-0.113,0.216-0.227,0.317-0.347c0.016-0.018,0.032-0.036,0.048-0.055c0.037-0.045,0.07-0.093,0.105-0.138c0.094-0.118,0.185-0.238,0.272-0.362c0.016-0.023,0.034-0.046,0.051-0.069c0.032-0.047,0.061-0.098,0.092-0.146c0.022-0.035,0.047-0.068,0.069-0.103c0.007-0.011,0.015-0.022,0.022-0.034c0.047-0.076,0.091-0.156,0.135-0.234c0.018-0.032,0.039-0.063,0.057-0.095c0.027-0.049,0.05-0.101,0.076-0.15c0.061-0.117,0.118-0.236,0.173-0.357c0.012-0.027,0.027-0.053,0.039-0.081c0.01-0.021,0.02-0.042,0.03-0.064c0.021-0.048,0.038-0.098,0.058-0.147c0.044-0.109,0.083-0.221,0.123-0.333c0.025-0.07,0.053-0.139,0.076-0.21c0.014-0.043,0.024-0.087,0.037-0.13c0.006-0.022,0.015-0.042,0.021-0.064c0.021-0.075,0.036-0.153,0.055-0.229c0.025-0.099,0.054-0.198,0.075-0.298c0.007-0.033,0.012-0.066,0.018-0.099c0.003-0.017,0.009-0.033,0.012-0.05c0.011-0.061,0.015-0.121,0.025-0.182c0.003-0.019,0.006-0.037,0.009-0.056c0.007-0.052,0.018-0.102,0.025-0.153c0.009-0.069,0.02-0.137,0.027-0.206c0.003-0.031,0.005-0.062,0.008-0.093c0.009-0.098,0.012-0.196,0.018-0.294c0.007-0.123,0.015-0.245,0.016-0.368c0-0.013,0.002-0.026,0.002-0.04C512.002,255.987,512,255.974,512,255.961z M153.11,263.501h39.319c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5H153.11l-63.123-63.123l334.357,63.123H222.428c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h201.915L89.985,326.623L153.11,263.501z M20.936,489.399L73.1,345.077l379.932-71.726L20.936,489.399z M73.1,166.925L20.936,22.602l432.096,216.049L73.1,166.925z"
                />
              </g>
            </g>
            <g>
              <g>
                <circle cx="67.501" cy="256.001" r="7.5" />
              </g>
            </g>
            <g>
              <g>
                <circle cx="37.501" cy="256.001" r="7.5" />
              </g>
            </g>
            <g>
              <g>
                <circle cx="7.501" cy="256.001" r="7.5" />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>