@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body,html,* {
    font-family: 'Inconsolata', monospace;
}

ion-scroll { white-space: nowrap; }

input {
    -webkit-appearance: none !important;
}

$shadow-default: 0 2px 15px 0 rgba(31, 35, 46, 0.168);

$color45: rgba(237, 240, 244, 0.161);

$padding: 15px; 
.button-bot {
    background-color:#f96178;
    color:   #caf8f6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: url('../assets/svg-fondo.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    
    //box-shadow: $shadow-default;

    &-text {
        margin-left: 90px;
        margin-right: 10px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }
}

.svg-perfil {
    position: absolute;
    left: 30px;
    bottom:-5px;
    height: 95px;
}

.btn-perfil {
    height: 30px;
    width: 30px;
    background-color: transparent;
    padding: 0;
}

.img-perfil {
    width:30px;
    height: 30px;
    border-radius: 50%;

}

$shadow-default: 0px 2px 20px 0px rgba(0, 0, 0, .16);

.scrool-height {
    height: 220px;
}

.item-padding {
    display: inline-block;
    width: 180px;
    height: 220px;
    position: relative;
}

.producto-item {
    width: 150px;
    height: 180px;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);


    &__imgBox {
        position: relative;
        width: 150px;
    }

    &__shadow {
        position: absolute;
        bottom:0;
        background-color: #072bb9;
        border-radius: 3px;
        left:5px;
        right:5px;
        bottom:5px;
        height: 25px;
        color: #89f297;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-left: 5px;
        font-size: 16px;
        box-shadow: $shadow-default;        
    }

    &__img {
        display: block;
        border-radius: 5px;
        box-shadow: $shadow-default;
    }

    &__detail {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2px 0px;
        height: 30px;
    }

    &__discount,
    &__price {
        display: flex;
        justify-content: center;
        align-items:center;
        height: 22px;
        padding-left:3px;
        padding-right:3px;
        border-radius: 3px;
        color: white;
        box-shadow: $shadow-default;
    } 

    &__discount {
        background-color: #89f297;
        color: #0a3ab4;
        
    }

    &__price {
        margin-left: 5px;
        background-color: #0a3ab4;
        color: #89f297;
    } 
}


.title-seccion {
    padding-left: 15px;
    padding-right: 15px;

    &__text {
        font-size: 17px;
        color: #424242;
        font-weight: 700;
    }

    &__line {
        height: 1px;
        width: 100%;
        background-color: #eaeaea;
    }
}


.bag-shopping {
    width:27px;
    height: 27px;

    & path {
        fill:#0441d0;
    }
}

.error-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: #222;

    &.spinner {
        font-size: 25px;
    }
}

h1 {
    margin: 0;
    padding: 0;
}

.default-color {
    background-color: #d4d4d4;
    color: #d4d4d4;
    box-shadow: none;
}

.precioanterior {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    color: rgb(149, 149, 149);
}


.text-msg {
    text-align: center;
}

