
<ion-header>

  <ion-navbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="pa" type="password" placeholder="Contraseña antigua"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="pn" type="password" placeholder="Contraseña nueva"></ion-input>
  </ion-item>

  <button class="btn-default btn-1 btn-main" (click)="cambiarContrasena()" [disabled]="!pa || !pn" ion-button full>Cambiar contraseña</button>
  
</ion-content>
