$color1: #072bb9;
$color2: #aef1a2;

.close-btn {
    width: 17px;
    height: 17px;
    padding:0;
    margin-left: 10px;
}

.button-list {
    display: flex;
    
}

.btn-default {
    margin:0;
    padding:0;
    height: 56px;
    font-size: 17px;
}

.btn-main {
    font-size: 20px;
    height: 50px;
    font-weight: 700;
}

.btn-1 {
    background-color: $color1;
    color: $color2;
} 

.btn-2 {
    background-color: $color2;
    color: $color1;
    
}

.btn-3 {
    background-color: rgb(252, 66, 66);
    color: white;
}

.btn-s-3 {
    font-size: 18px;
}

.btn-s-3 {
    font-size: 20px;
}

.btn-s-3 {
    font-size: 22px;
    font-weight: 700;
}


.toolbar-bottom {
    padding:0 !important;
     margin:0 !important;
}

.btn-szie {
    font-size: 16px;
}