ion-scroll { 
    height: 100%;
    padding: 0;

    & .scroll-content {
        padding: 0 !important;
    }
}

.fondo {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-list {
    display: flex;
    flex-direction: column;
}
 