$shadow-default: 0px 2px 20px 0px rgba(0, 0, 0, .16);


.metod-pay {
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
        width: 48%;
        height: 80px;
        border-radius: 5px;
        //box-shadow: $shadow-default;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;    
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        padding: 5px;
        border: 3px solid #aef1a2;
        color:#0441d0;
        background-color: #dff5db;


        &.disabled {
            background-color: rgb(245, 245, 245);
            border-color: rgb(192, 192, 192);
            color: rgb(192, 192, 192);
        }


    }
}

.svg-item {
width: 30px;

    &.disabled {

        & path {
            fill:rgb(192, 192, 192) !important;

            &:nth-child(2n) {
                fill: rgb(225, 223, 223) !important;
            }
        }
    }
} 

.credit-card {
    width: 45px;
}

.wallet {

}

.inputs-credicard {
    padding-left: 16px;
    padding-right: 16px;
}

.item-input-credicard {
    display: flex;
    align-items: center;
    //justify-content: center;
    margin-bottom: 5px;
    position: relative;
}

.svg-tipo {
    position: absolute;
    right: 0;
    bottom: 5px;
}


.title-secction {
    font-weight: 700;
    font-size: 17px;
    color: #4a4a4a;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}


 .whenDontInput {
    width:85% !important;
    margin-right: 15px;
}

.input-dos {
}

.box-total {
    margin-top: 15px;
    margin-left: 16px;
    margin-right: 16px;
    height: 60px;
    
    display: flex;
    justify-content: center;
    padding-left: 15px;
    flex-direction: column;
    border-radius: 5px;
    color:#aef1a2;
    background-color: #0441d0;

    &-total {
        font-weight: 700;
        font-size: 24px;
        color:white;
        
    }

    &-cantidad {
        color:white;
        font-size: 12px;
    }
}