$shadow-default: 0px 2px 20px 0px rgba(0, 0, 0, .16);

.envio-box {
    margin: 16px;
    padding: 10px;
    color:#0441d0;
    background-color: #aef1a2;
    display: flex;
    //box-shadow: $shadow-default;
    border-radius: 4px;

    &-title {
        width: 20%;
        font-size: 18px;
        font-weight: 700;
    }

    &-content {
        width: 80%;
    }
    
}


.bold-i {
    font-weight: 700;
}