$shadow-default: 0px 2px 20px 0px rgba(0, 0, 0, .16);


.item-bag {
    height: 90px;
    //background-color: red;
    padding: 8px 16px;
    position: relative;
    display: flex;
    width: 100%;
    transition: all .300s ease-in-out;
    
    &.active {
        transform: translate(-50px,0);
    }
}

.img-bag {
    height: 100%;
}

.item-bag-details {
    //background-color: green;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: center;

    &-i {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-e {
        width: 40%;
        height:  100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    &-nombre {
        position: initial !important;
        width: 150px;        
    }

    &-precio {
        position: initial;
        justify-content: flex-start !important;
    }
}

.btn-bag {
    height: 35px;
    width: 35px;
    width: 33.33%;
    padding:0;
    font-size: 18px;
    box-shadow: $shadow-default;
    color:#0441d0;
    background-color: #aef1a2;
    //color: rgb(45, 45, 45);
    //background-color: #dedede;
}

.btn-detalle {

}

.cantidad-bag {
    font-size: 17px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0441d0;
}

.sdsdsds {
    background-color: #89f297 !important;
    color: #0a3ab4 !important;
}

.error-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #bfbfbf;
}


.delete-item {
    position: absolute;
    right: -50px;
    height: 90px;
    width: 50px;
    padding: 7px;
    transition: all .300s ease-in-out;
    

    &.active {
        right: 0;
    }
}
.item-container {
    display: flex;
    position: relative;
}

.btn-delete {
    background-color: rgb(252, 66, 66);
    color: white;
    width: 100%;
    height: 100%;
    font-size: 17px;
    box-shadow: $shadow-default;    
}


.btn-start-buy {
    margin-top: 30px !important;
    color:#0441d0;
    background-color: #aef1a2;
    height: 40px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto !important;
    box-shadow: $shadow-default;    
    
}
